body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    /*margin: 0px;*/
    background: #000000;
}
#content {
    text-align: center;
    margin: auto;
    padding: 10px 8px 8px 8px;
    background-color: #000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    background-color: #c0c0c0;
    color: #ffffff;
    border: none;
    border-radius: 80px;
    box-shadow: 1px 2px 3px 1px black;
    text-shadow: 1px 1px 3px black;
    opacity: 0.8;
}
.numbs {
    background-color: #ffa500;
    color: #ffffff;
    opacity: none;
}
input {
    width: 250px;
    display: block;
    margin: auto;
    font-size: 30px;
    background-color: #000009;
    opacity: 0.9;
    color: #696969;
    border: none;
    text-align: right;
    box-shadow: 1px 2px 3px 1px black;
    text-shadow: 1px 1px 3px black;
    max-text: 500;
}

#lgdisplay {
    color: #dcdcdc;
}